:root {
  /* SIZING */
  --container-width: 1460px;
  --container-height: 68vh;
  --left-panel-width: 400px;
  --nav-height: 50px;
  --content-height: calc(var(--container-height) - var(--nav-height));

  /* COLORS */

  --color-primary: 259, 35%, 19%;
  --color-tertiary: 262, 30%, 23%;
  --color-secondary: 255, 35%, 18%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: hsl(255, 28%, 43%);
  box-sizing: border-box;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  width: var(--container-width);
  background: hsl(var(--color-secondary));
  height: var(--container-height);
  position: relative;
}

.nav {
  background-color: hsl(var(--color-primary));
  width: 100%;
  height: var(--nav-height);
}

.content {
  width: 100%;
  height: var(--content-height);
  display: flex;
  overflow: hidden;
}

.left-panel {
  width: var(--left-panel-width);
  background-color: hsla(var(--color-tertiary), 0.7);
  height: 100%;
  margin-top: 10px;
}

.right-panel {
  flex: 1;
  height: 100%;
}
